<div class="page-header">
	<h1>Clase 4 - Introducción al enlace de datos</h1>
</div>

<p>El enlace de datos o data binding consiste en emparejar la vista con el
 modelo de manera que los cambios en uno de ellos se reflejen inmediatamente en 
 el otro.</p>
<p>
	En el ejemplo a continuación se muestra cómo enlazar un input con una 
	variable javascript del contexto, y cómo mostrarla usando la sintáxis de 
	doble llave.
</p>

<div class="row">
	<div class="col-xs-12 col-sm-6 ng-non-bindable">
<pre><code ngPrism class="language-markup"><xmp><input type="text" ng-model="nombre"/>
<span>{{nombre}}</span></xmp></code></pre>
	</div>
	<div class="col-xs-12 col-sm-6">
		<input type="text" ng-model="nombre"/>
		<span>{{nombre}}</span>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-right">
		<a class="btn btn-default" href="#/" role="button">
			Volver al índice
		</a>
	</div>
</div>