<html ng-app>
	<head>
		<title>AngularJS - Clase 4</title>
		<meta charset="UTF8"/>
		<link type="text/css" rel="stylesheet" 
			  href="../styles/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet"
			  href="../styles/bootstrap-theme.min.css" />
		<link type="text/css" rel="stylesheet" 
			  href="../styles/site.css"/>
		<link type="text/css" rel="stylesheet" 
			  href="../styles/prism.css"/>
	</head>
		
	<body>
		<div class="container">
			<div class="page">
				<nav class="navbar navbar-default navbar-static-top navbar-inverse">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse" aria-expanded="false"
									data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">AngularJS - Udemy</a>
						</div>
					</div>
				</nav>
				<div class="main-container">
					<div class="page-header">
						<h1>Clase 4 - Introducción al enlace de datos</h1>
					</div>

					<p>El enlace de datos o data binding consiste en emparejar la vista con el
					 modelo de manera que los cambios en uno de ellos se reflejen inmediatamente en 
					 el otro.</p>
					<p>
						En el ejemplo a continuación se muestra cómo enlazar un input con una 
						variable javascript del contexto, y cómo mostrarla usando la sintáxis de 
						doble llave.
					</p>

					<div class="row">
						<div class="col-xs-12 col-sm-6 ng-non-bindable">						
<pre class="language-markup"><code class="language-markup"><xmp><input type="text" ng-model="nombre"/>
<span>{{nombre}}</span></xmp></code></pre>
						</div>
						<div class="col-xs-12 col-sm-6">
							<input type="text" ng-model="nombre"/>
							<span>{{nombre}}</span>
						</div>
					</div>		

					<a class="btn btn-default" href="../index.html" role="button">
						Volver al índice
					</a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../scripts/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="../scripts/angular.min.js"></script>
		<script type="text/javascript" src="../scripts/prism.js"></script>
	</body>
</html>