<html ng-app>
	<head>
		<title>AngularJS - Clase 3</title>
		<meta charset="UTF8"/>
		<link type="text/css" rel="stylesheet" 
			  href="../styles/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet"
			  href="../styles/bootstrap-theme.min.css" />
		<link type="text/css" rel="stylesheet" 
			  href="../styles/site.css"/>
	</head>
		
	<body>
		<div class="container">
			<div class="page">
				<nav class="navbar navbar-default navbar-static-top navbar-inverse">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">AngularJS - Udemy</a>
						</div>
					</div>
				</nav>
				<div class="main-container">
					<div class="page-header">
						<h1>Clase 3</h1>
					</div>

					<h2>Directivas</h2>
					
					<p>Las directivas son la herramienta que utilizamos para extender el HTML. Algunos ejemplos de directivas son:</p>
					<ul>
						<li>
							<code>ng-app</code> para inicializar la aplicación. Se coloca en la etiqueta que contiene la aplicación, puede ser html, body o div.
							<div class="row">
								<div class="col-sm-6">
									<div>Sin identificador del módulo:</div>
									<div class="code">
<xmp><html ng-app>
  <head>...</head>
  <body>...</body>
</html></xmp>
									</div>
								</div>
								<div class="col-sm-6">
									<div>Con identificador del módulo:</div>
										<div class="code">
<xmp><html ng-app="miAplicacion">
  <head>...</head>
  <body>...</body>
</html></xmp>
										</div>
								</div>
							</div>
						</li>
						<li>
							<code>ng-model</code> para declarar una variable en el modelo. Se emplea en las etiquetas input, select y textarea. El valor del elemento del dom y de la variable siempre está sincronizado (bind).
							<div class="row">
								<div class="col-sm-6">
									<div class="code">
										<xmp><input ng-model="miVariable"/>	</xmp>
									</div>
								</div>
								<div class="col-sm-6">
									<div>input asociado a miVariable: <input ng-model="miVariable"/>
									</div>
									<div>
									Valor de miVariable: <span>{{miVariable}}</span>
									</div>
								</div>
						</li>
					</ul>
					<a class="btn btn-default" href="../index.html" role="button">Volver al índice</a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../scripts/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="../scripts/angular.min.js"></script>
	</body>
</html>