body {
	background-image: url('../content/23.png');
	background-repeat: vertical;
}

.page {
	background-color: white;
	bottom: 0px
}

.main-container {
	padding-left:  20px;
	padding-right: 20px;
	padding-bottom: 100px;
}